/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Icons Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

:root {
    --main-color: #5100d2;
    --green-color: #34b334;
    --red-color: #ff0000;
    --yellow-color: #ffbb00;
    --grey-color: #888888;
    --text-green: #22811c;

}

/* resetcss */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: Poppins, sans-serif;
}

/* Header */
header {
    background-color: var(--main-color);
    text-align: center;
}

header #title {
    color: white;
    padding: 15px;
}

/* Main */
.container {
    margin: 50px auto;
    width: 80%;
}

#top {
    display: flex;
    justify-content: space-between;
}

#right {
    display: flex;
}

/* Button Style */
.btn {
    border: 0px;
    padding: 8px 15px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btn-main {
    background-color: var(--main-color);
}

/* Icons style */
.bi-plus-lg,
.bi-funnel-fill {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 6px;
}

/* Input Search */
.search {
    border: 1px solid rgb(202, 202, 202);
    margin-right: 15px;
    border-radius: 5px;
    padding: 0 10px;
    line-height: 2rem;
    width: 250px;
}

.search .input-search {
    border: 0px;
    padding: 0 5px;
    cursor: text;
}